{
  presets: ['es2015', 'react', 'stage-1'],
  plugins: ['transform-runtime', 'transform-decorators-legacy'],
  env: {
    production: {
      plugins: ['transform-react-remove-prop-types']
    },
    hot: {
      plugins: [['react-transform', {
        transforms: [{
          transform: 'react-transform-hmr',
          imports: ['react'],
          locals: ['module']
        }]
      }]]
    }
  }
}
